:root {
	--primary-color:   rgb(0, 140, 255);
	--secondary-color: rgb(64, 99, 128);
	--accent-color:    rgb(235, 141, 0);
	--danger-color:    rgb(209, 7, 24);

	--background-color: rgb(230, 230, 230);
	--text-color: black;

	--sidebar-color:      rgb(13, 17, 23);
	--sidebar-text-color: rgb(210, 210, 210);

	--input-border-color: rgba(255,255,255, 0.3);
	--input-bg-color: rgba(255,255,255, 0.05);

	--hover-input-bg-color: rgba(255,255,255, 0.1)
}

.dark {
	--background-color: rgb(37, 37, 37);
	--text-color: white;
}